.cards{
    min-width: 100%;
    min-height: 100vh;
    margin: 100px 0;
}
.cars-title {
    text-align: center;
    margin: 30px;
    font-size: 30px;
}
.cars {
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

@media (max-width: 990px) {
    .cars {
        min-width: 100%;
        margin: 0 auto;
    }
}
  